.header
  display: flex
  padding: 50px 0
  justify-content: space-between
  align-items: center
  font-weight: 400
  font-size: 15px
  line-height: 140%
  letter-spacing: 0.02em
  color: #000
  &__link
    text-decoration: none
    font-weight: 400
    font-size: 15px
    line-height: 140%
    letter-spacing: 0.02em
    color: #000
    .active
      color: #6e9c9f !important
      font-weight: 700
  &__menu
    display: flex
    &Item
      margin: 0 22px
  .phoneLink
    font-weight: 400
    font-size: 15px
    line-height: 140%
    letter-spacing: 0.02em
    color: #000

.callback
  display: flex
  align-items: center

.active
  color: #6E9C9F
  font-weight: 700

.userStatus,
.userStatusInfo
  display: flex
  align-items: center

.languageBtn,
.languageBtnActive
  background: #f1eadc
  font-weight: 400
  font-size: 15px
  line-height: 140%
  letter-spacing: 0.02em
  color: #000
  padding: 5px
  border: none
  margin: 5px

.languageBtnActive
  font-weight: bold